<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="mailAppender" class="Utils.DataCrawlerAppender">
        <param name="SMTPHost" value="smtp.126.com"/>
        <param name="SMTPUsername" value="sei_ch2013@126.com"/>
        <param name="SMTPPassword" value="ch123456"/>
        <param name="From" value="sei_ch2013@126.com"/>
        <param name="To" value="spikechenhao@163.com"/>
        <param name="Subject" value="AppCollector Log Info"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-4r [%t] %-5p %c %x - %m%n"/>
        </layout>
    </appender>

    <appender name="myConsole" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-4r [%t] %-5p %c %x - %m%n"/>
        </layout>
    </appender>


    <logger name="org.apache" additivity="false">
        <level value="info"/>
        <appender-ref ref="mailAppender"/>
    </logger>

    <root>
        <level value="info"/>
        <appender-ref ref="mailAppender"/>
        <appender-ref ref="myConsole"/>
    </root>

</log4j:configuration>